*{
    margin: 0px;
}
li{
    display: block;
}
nav li{
    display: inline;
    float: right;
}
header{
    background-image: url(Assets/image-header.png);
    height: 115vh;
    background-color: cover;
}
nav{
    padding: 24px;
    
    
}

#this_div {
    text-align: center;
    a{
        background-color: white;
        color: black;
        padding: 10px;
       
    }

}


ul nav{
    
}
a{
    text-decoration: none;
    margin: 10px;
    color: white;
    
    border-radius: 10px;
}

h1{
    font-size: 53px;
     font-family: "DM Sans", sans-serif;
    font-style: regular;
   margin: 20px;
    font-size: 100px;
    color: white; 
    strong{
        font-size: 30px;
    }
}
.taille{
    width: 500px;
    margin-top: 14vh;
    margin: auto;
    position: static;
}
h2{
    color: white;
     text-align: center;
     margin: 50px;
     font-size: 20px;
     font-size: 42px;
     font-family: "DM Sans", sans-serif;
}
a h2{
    background-color: blue;
}
main{
    background-color: black;
    li{
        color: white;
        text-align: center;
        margin: 20px;
        font-size: 28px;
        
    }
    
}
p{
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 30px;
}
.btn{
    background-color: black;
    padding: 15px 32px;
}
.secondary{
    background-color: white;
    color: black;
}
h2 main{
    text-align: center;
    
}
.trois{
    margin: auto;
}


body{
    background-color: black;
}
img {
  
}
 form{  
label{
    color: white;
}
}
form{
    input{
        text-align: center;
        color: black;
    }
}
.doo{
    text-align: center;
    font-size: 12px;
}
footer{
    .sou{
        text-align: right;
    }
}
 #deco{
    img{
        width: 100%;
    }
 } 
 #present {
    img{
      width: 100%;  
    }
 } 